<div class="jumbotron">
    <div class="container">
        <h1>{{title}}</h1>
        <p>A little bit about me...</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>heading here</h2>
            <p>content goes here</p>
        </div>
        <div class="col-md-4">
            <h2>heading here</h2>
            <p>content goes here</p>
        </div>
        <div class="col-md-4">
            <h2>heading here</h2>
            <p>content goes here</p>
        </div>
    </div>
</div>